* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    /* Define margem e padding padrão como 0 e aplica Arial como fonte base */
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center;
    /* Define o fundo da página, fonte do corpo, espaçamento interno e centraliza o texto */
}

@media (max-width: 768px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        background-color: #08298A;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        color: #f1ebeb;
        background-color: #08298A;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 8px rgb(13, 13, 13);
        filter: brightness(1.2);
    }

    .navegacao {
        width: 100%;
    }

    .lista-navegacao {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-navegacao {
        margin: 10px 0;
    }

    .link-navegacao {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .container {
        display: block;
        padding: 10px;
    }

    .enderecos,
    .container-mapa {
        width: 100%;
        max-height: unset;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .Rodape {
        padding: 20px;
        background-color: #002b80;
        color: white;
        text-align: center;
    }

    .icones-sociais a {
        color: rgb(237, 235, 235);
    }
}